input {
    keyboard {
        xkb {
            layout "us"
        }
    }

    touchpad {
        tap
        natural-scroll
        click-method "clickfinger"
    }

    mouse {
        accel-speed 0.0
    }

    focus-follows-mouse
}
